[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bip85 = "*"
pexpect = "*"
ptyprocess = "*"
pycryptodome = "*"

[dev-packages]

[requires]
python_version = "3"
